.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .ellipse {
    position: absolute;
    width: 459px;
    height: 459px;
    top: 284px;
    left: 218px;
    object-fit: cover;
  }
  
  .desktop .description {
    position: absolute;
    width: 470px;
    height: 293px;
    top: 369px;
    left: 788px;
  }
  
  .desktop .overlap-group {
    position: relative;
    width: 464px;
    height: 293px;
  }
  
  .desktop .flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    width: 464px;
    height: 70px;
    top: 223px;
    left: 0;
  }
  
  .desktop .text {
    position: relative;
    align-self: stretch;
    font-family: "Work Sans", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper {
    font-family: "Work Sans", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
  }
  
  .desktop .p {
    position: absolute;
    width: 426px;
    top: 0;
    left: 0;
    font-family: "Work Sans", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 54px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    width: 461px;
    top: 153px;
    left: 0;
    font-family: "Work Sans", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .header-nav {
    position: absolute;
    width: 1349px;
    height: 64px;
    top: 78px;
    left: 31px;
  }
  
  .desktop .header {
    position: absolute;
    width: 477px;
    height: 58px;
    top: 6px;
    left: 93px;
    background-color: transparent;
  }
  
  .desktop .overlap-group-2 {
    position: relative;
    width: 473px;
    height: 58px;
  }
  
  .desktop .text-wrapper-3 {
    position: absolute;
    width: 224px;
    top: 0;
    left: 0;
    font-family: "Work Sans", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-4 {
    position: absolute;
    width: 250px;
    top: 1px;
    left: 223px;
    font-family: "Work Sans", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2px;
    left: 0;
  }
  
  .desktop .nav {
    position: absolute;
    width: 594px;
    height: 45px;
    top: 0;
    left: 765px;
  }
  
  .desktop .line {
    left: 126px;
    position: absolute;
    width: 1px;
    height: 35px;
    top: 0;
    object-fit: cover;
  }
  
  .desktop .overlap {
    position: absolute;
    width: 309px;
    height: 45px;
    top: 0;
    left: 275px;
  }
  
  .desktop .line-2 {
    left: 170px;
    position: absolute;
    width: 1px;
    height: 35px;
    top: 0;
    object-fit: cover;
  }
  
  .desktop .line-3 {
    left: 92px;
    position: absolute;
    width: 1px;
    height: 35px;
    top: 0;
    object-fit: cover;
  }
  
  .desktop .text-wrapper-5 {
    position: absolute;
    width: 122px;
    top: 7px;
    left: 0;
    font-family: "Work Sans", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-6 {
    position: absolute;
    width: 122px;
    top: 6px;
    left: 113px;
    font-family: "Work Sans", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-7 {
    position: absolute;
    width: 122px;
    top: 8px;
    left: 187px;
    font-family: "Work Sans", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap-2 {
    position: absolute;
    width: 122px;
    height: 44px;
    top: 0;
    left: 147px;
  }
  
  .desktop .line-4 {
    left: 108px;
    position: absolute;
    width: 1px;
    height: 35px;
    top: 0;
    object-fit: cover;
  }
  
  .desktop .overlap-3 {
    position: absolute;
    width: 296px;
    height: 86px;
    top: 871px;
    left: 81px;
  }
  
  .desktop .email-alen-sanmv {
    position: absolute;
    width: 296px;
    top: 0;
    left: 0;
    font-family: "Work Sans", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .span {
    font-weight: 500;
  }
  
  .desktop .text-wrapper-8 {
    font-weight: 300;
    font-size: 16px;
  }
  
  .desktop .overlap-4 {
    position: absolute;
    width: 296px;
    height: 86px;
    top: 871px;
    left: 612px;
  }
  
  .desktop .text-wrapper-9 {
    position: absolute;
    width: 296px;
    top: 0;
    left: 0;
    font-family: "Work Sans", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .linkedin {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 40px;
    left: 8px;
    object-fit: cover;
  }
  
  .desktop .text-wrapper-10 {
    position: absolute;
    width: 296px;
    top: 899px;
    left: 1071px;
    font-family: "Work Sans", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  